<table class="table table-sm table-striped mx-auto lead text-center mb-0">
    <thead>
        <tr>
            <th scope="col">1</th>
            <th scope="col">2</th>
            <th scope="col">3</th>
            <th scope="col">4</th>
            <th scope="col">5</th>
            <th scope="col">6</th>
            <th scope="col">7</th>
            <th scope="col">8</th>
            <th scope="col">9</th>
            <th scope="col">0</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>क</td>
            <td>ख</td>
            <td>ग</td>
            <td>घ</td>
            <td>ङ</td>
            <td>च</td>
            <td>छ</td>
            <td>ज</td>
            <td>झ</td>
            <td>ञ</td>
        </tr>
        <tr>
            <td>ट</td>
            <td>ठ</td>
            <td>ड</td>
            <td>ढ</td>
            <td>ण</td>
            <td>त</td>
            <td>थ</td>
            <td>द</td>
            <td>ध</td>
            <td>न</td>
        </tr>
        <tr>
            <td>प</td>
            <td>फ</td>
            <td>ब</td>
            <td>भ</td>
            <td>म</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>य</td>
            <td>र</td>
            <td>ल</td>
            <td>व</td>
            <td>श</td>
            <td>ष</td>
            <td>स</td>
            <td>ह</td>
            <td>ळ</td>
            <td>-</td>
        </tr>
    </tbody>
</table>
