{% set active_page = "decode" %}
{% set template_prefix = 'aarya_' %}
{% include template_prefix + "header.html" %}

<div class="container p-3 lead">
    <form method=POST enctype=multipart/form-data action="{{ url_for('aaryabhatiya.aaryabhatiya_number') }}">
        <div class="form-group">
            <label for="input_text">Decode text</label>
            <input type="text" class="form-control" id="input_text" name="input_text" placeholder="Enter the text to decode" {% if 'text' in data %}value="{{data.text}}"{% endif %}>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% if 'number' in data and 'details' in data %}
<div class="container p-3 lead">
    <div class="card bg-light mb-3">
        <div class="card-header">
            <b>Āryabhaṭīya Number</b>
        </div>
        <div class="card-body">
            {{data.number}}
        </div>
    </div>
</div>
<div class="container p-3 lead">
    <div class="table-responsive">
        <table class="table table-sm table-bordered table-striped mx-auto">
            <tr>
                <th>Split</th>
                {% for s in data.details.split %}
                    <td>{{s}}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Numbers</th>
                {% for n in data.details.numbers %}
                    <td>
                        {% if n | length == 2 %}
                        {{n[0]}}<sup>{{n[1]}}</sup>
                        {% else %}
                        {{n[0]}}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        </table>
    </div>
</div>
{% endif %}
{% include template_prefix + "footer.html" %}