{% set active_page = "about" %}
{% set template_prefix = 'aarya_' %}
{% include template_prefix + "header.html" %}
<div class="container p-3">
    <p class="lead">
        The <b>Āryabhaṭīya numeration</b> is an alphasyllabic numeral system based on
        Sanskrit phonemes. It was introduced in the early 6th century in India by
        <b>Āryabhaṭa</b>, in the first chapter titled <i>Gītika Padam</i> of his Aryabhatiya.
        It attributes a numerical value to each syllable of the form consonant + vowel possible in Sanskrit phonology,
        from <i>ka</i> = 1 up to <i>hau</i> = 10<sup>18</sup>.
    </p>
    <a class="btn btn-secondary" href="{{url_for('aaryabhatiya.aaryabhatiya_help')}}" role="button">Learn more</a>
</div>

<div class="container p-3">
    <div class="card bg-light mx-auto" style="width: 50%;">
        <div class="card-body mx-auto lead">
            <span data-toggle="tooltip" data-placement="right" title="">
                वर्गाक्षराणि वर्गेऽवर्गेऽवर्गाक्षराणि कात् ङ्मौ यः ।
            </span><br>
            <span data-toggle="tooltip" data-placement="right" title="">
                खद्विनवके स्वरा नव वर्गेऽवर्गे नवान्त्यवर्गे वा ॥
            </span>
            <p class="text-right mt-1 mb-0"><small class="text-muted">~ आर्यभटीय गीतिकापाद। (आर्यभटः)</small></p>
        </div>
    </div>
</div>
{% include template_prefix + "footer.html" %}